<div class="contents row">
    <% @infos.each do |info| %>
        <%= render partial: "info", locals: { info: info } %> 
        <%# 部分テンプレート内において,infoという文字列の代入されたinfo変数が使えるようにする。 %>
    <% end %>
</div>